@import url(animation.css);
.icon-arrow-active {
  background-image: url(../img/sprite.png);
  background-position: -41px -146px;
  width: 35px;
  height: 35px; }

.icon-arrow-default {
  background-image: url(../img/sprite.png);
  background-position: -148px -53px;
  width: 35px;
  height: 35px; }

.icon-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: -164px -88px;
  width: 15px;
  height: 26px; }

.icon-arrow-right {
  background-image: url(../img/sprite.png);
  background-position: -111px -146px;
  width: 14px;
  height: 26px; }

.icon-arrow {
  background-image: url(../img/sprite.png);
  background-position: -140px -122px;
  width: 15px;
  height: 9px; }

.icon-cake-rotate {
  background-image: url(../img/sprite.png);
  background-position: 0px -53px;
  width: 79px;
  height: 93px; }

.icon-cake {
  background-image: url(../img/sprite.png);
  background-position: -79px -53px;
  width: 69px;
  height: 69px; }

.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: -183px -115px;
  width: 32px;
  height: 27px; }

.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -76px -146px;
  width: 35px;
  height: 35px; }

.icon-dev {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 183px;
  height: 53px; }

.icon-email {
  background-image: url(../img/sprite.png);
  background-position: -99px -122px;
  width: 24px;
  height: 17px; }

.icon-hands {
  background-image: url(../img/sprite.png);
  background-position: 0px -146px;
  width: 41px;
  height: 35px; }

.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: -183px -78px;
  width: 37px;
  height: 37px; }

.icon-insta-active {
  background-image: url(../img/sprite.png);
  background-position: -180px -181px;
  width: 36px;
  height: 36px; }

.icon-insta {
  background-image: url(../img/sprite.png);
  background-position: -108px -181px;
  width: 36px;
  height: 36px; }

.icon-natural {
  background-image: url(../img/sprite.png);
  background-position: -183px -39px;
  width: 38px;
  height: 39px; }

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -148px -88px;
  width: 16px;
  height: 29px; }

.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -123px -122px;
  width: 17px;
  height: 17px; }

.icon-surprise {
  background-image: url(../img/sprite.png);
  background-position: -183px 0px;
  width: 38px;
  height: 39px; }

.icon-trash {
  background-image: url(../img/sprite.png);
  background-position: -79px -122px;
  width: 20px;
  height: 23px; }

.icon-vk-active {
  background-image: url(../img/sprite.png);
  background-position: -36px -181px;
  width: 36px;
  height: 36px; }

.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -181px;
  width: 36px;
  height: 36px; }

.icon-youtube-active {
  background-image: url(../img/sprite.png);
  background-position: -144px -181px;
  width: 36px;
  height: 36px; }

.icon-youtube {
  background-image: url(../img/sprite.png);
  background-position: -72px -181px;
  width: 36px;
  height: 36px; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Grid */
.container {
  position: relative;
  max-width: 1010px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

@font-face {
  src: url("../fonts/Georgia-italic.ttf");
  font-family: Georgia; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font: 16px "Lobster", sans-serif;
  color: #422d04;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg/body.png"), #FEFAD9; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    font-size: 16px;
    list-style: none;
    display: inline-block; }

span {
  position: relative;
  display: inline-block; }

a {
  color: #422d04;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* Button */
button, input[type="button"], input[type="reset"] {
  background: none;
  cursor: pointer;
  outline: none; }

input.input {
  font-size: 16px;
  font-family: Georgia;
  outline: none; }
  input.input-default {
    height: 43px;
    -webkit-box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54);
            box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54);
    border: 1px solid #81d8d0;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px; }

::-webkit-input-placeholder {
  color: #422d04; }

::-moz-placeholder {
  color: #422d04; }

:-ms-input-placeholder {
  color: #422d04; }

::placeholder {
  color: #422d04; }

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer; }
  .button_yellow {
    font-size: 20px;
    width: 222px;
    line-height: 37px;
    height: 39px;
    background: url("../img/bg/button-yellow.png"); }
  .button_blue {
    display: inline-block;
    vertical-align: top;
    width: 167px;
    height: 45px;
    font-family: Lobster;
    font-size: 18px;
    background: #d6f7f9;
    background: -webkit-gradient(linear, left top, left bottom, from(#d6f7f9), to(#83d9d2));
    background: -webkit-linear-gradient(top, #d6f7f9 0%, #83d9d2 100%);
    background: linear-gradient(to bottom, #d6f7f9 0%, #83d9d2 100%);
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border-bottom: 2px solid #46B4A7; }
    .button_blue:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(#d6f7f9), to(#83d9d2));
      background: -webkit-linear-gradient(bottom, #d6f7f9 0%, #83d9d2 100%);
      background: linear-gradient(to top, #d6f7f9 0%, #83d9d2 100%);
      border-bottom: 2px solid #83d9d2; }

.popup {
  display: none;
  width: 534px;
  background: url("../img/bg/bg.png") center;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  padding: 60px 10px 20px;
  min-height: 227px; }
  .popup .fancybox-close-small {
    display: none; }
  .popup__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px; }
  .popup__desc {
    margin-top: 25px;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 24px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto; }
  .popup__close {
    position: absolute;
    top: 14px;
    right: 14px;
    -webkit-transition: .3s;
    transition: .3s; }
    .popup__close:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .popup .input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 301px;
    text-align: center; }
  .popup .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px; }

.cart {
  z-index: 9999;
  top: 100px;
  right: 0;
  position: fixed;
  width: 323px;
  height: 279px;
  background: url("../img/bg/cart.png");
  font-family: Georgia;
  -webkit-border-radius: 40px;
          border-radius: 40px; }
  .cart__count {
    position: absolute;
    color: white;
    top: 35px;
    left: 37px;
    width: 30px;
    text-align: center; }
  .cart__sum {
    position: absolute;
    color: #81d8d0;
    top: 35px;
    left: 85px; }

.header {
  padding-top: 36px; }

.sn {
  padding-top: 4px; }
  .sn a {
    -webkit-transition: none;
    transition: none; }
  .sn li {
    margin-right: 10px; }
    .sn li:last-of-type {
      margin-right: 0; }
  .sn .icon-vk:hover {
    background-image: url(../img/sprite.png);
    background-position: -36px -181px;
    width: 36px;
    height: 36px; }
  .sn .icon-insta:hover {
    background-image: url(../img/sprite.png);
    background-position: -180px -181px;
    width: 36px;
    height: 36px; }
  .sn .icon-youtube:hover {
    background-image: url(../img/sprite.png);
    background-position: -144px -181px;
    width: 36px;
    height: 36px; }
  .sn__title {
    margin-bottom: 10px;
    font-size: 20px; }

.search-block {
  position: relative;
  width: 222px;
  height: 37px;
  -webkit-box-shadow: inset 2px 3px 1px rgba(66, 45, 4, 0.54);
          box-shadow: inset 2px 3px 1px rgba(66, 45, 4, 0.54);
  border: 1px solid #f4c853;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 15px; }
  .search-block__input {
    display: block;
    background: none;
    padding-left: 23px;
    line-height: 35px;
    width: 180px; }
  .search-block__button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 17px; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

.header {
  padding-top: 36px;
  padding-bottom: 40px; }
  .header__logo {
    text-align: center; }
  .header .contacts-block {
    text-align: right; }
    .header .contacts-block .phone:nth-of-type(1):after {
      content: '';
      display: block;
      position: relative;
      background: url("../img/bg/lines/1.png");
      width: 201px;
      height: 5px;
      margin-left: auto;
      margin-top: 2px;
      margin-bottom: 2px; }
    .header .contacts-block .button {
      text-shadow: 0px 1px 1px white; }

.contacts-block {
  font-size: 29px;
  padding-top: 3px; }
  .contacts-block .icon {
    margin-right: 11px;
    position: relative;
    top: -4px; }
  .contacts-block .phone:nth-of-type(2) {
    margin-bottom: 10px; }
  .contacts-block .button {
    margin-right: 0; }
  .contacts-block .email {
    font-family: Georgia;
    font-size: 16px;
    margin-bottom: 19px; }
    .contacts-block .email .icon {
      top: -2px;
      margin-right: 20px; }
    .contacts-block .email a {
      border-color: #422d04; }
      .contacts-block .email a:hover {
        border-color: transparent; }

.nav {
  -webkit-transition: .3s;
  transition: .3s; }
  .nav_fixed {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    left: 0; }
    .nav_fixed ul {
      background: none !important;
      height: 60px !important;
      line-height: 56px !important; }
      .nav_fixed ul:before {
        display: none !important; }
    .nav_fixed + .main {
      margin-top: 60px; }
  .nav ul {
    position: relative;
    text-align: center;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    height: 81px;
    line-height: 79px;
    background: #acf0eb;
    background: -webkit-linear-gradient(top, #acf0eb 2%, #68cdc3 94%, #3fb8ab 94%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #acf0eb), color-stop(94%, #68cdc3), color-stop(94%, #3fb8ab));
    background: linear-gradient(to bottom, #acf0eb 2%, #68cdc3 94%, #3fb8ab 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acf0eb', endColorstr='#3fb8ab',GradientType=0 ); }
    .nav ul:before {
      display: block;
      content: '';
      width: 96%;
      left: 2%;
      height: 1px;
      background: #96E5DF;
      position: absolute;
      bottom: 5px; }
  .nav li {
    font-size: 20px; }
    .nav li:before {
      position: relative;
      display: inline-block;
      content: '';
      top: 6px;
      margin-left: 10px;
      margin-right: 10px;
      background: url("../img/bg/lines/3.png");
      width: 5px;
      height: 25px; }
    .nav li:first-of-type:before {
      display: none; }
    .nav li.nav__item_select a, .nav li:hover a {
      background: #F7D150; }
  .nav a {
    padding: 7px 28px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    text-shadow: 1px 2px 1px white; }

.main {
  min-height: 400px; }

.page__title {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 12px; }

.page .text {
  text-align: justify;
  padding-bottom: 60px; }
  .page .text__title {
    color: #422d04; }

.nav-buttons ul {
  display: inline-block;
  font-family: Georgia; }
  .nav-buttons ul li {
    margin-right: 9px; }
    .nav-buttons ul li.item_select a {
      background-color: #81d8d0; }
  .nav-buttons ul a {
    display: block;
    background-color: #f7d051;
    padding: 4px 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
    .nav-buttons ul a:hover {
      background-color: #81d8d0; }
  .nav-buttons ul span {
    display: block;
    background-color: #81d8d0;
    padding: 4px 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }

.breadcrumbs:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 13px;
  background: url("../img/bg/lines/1.png"); }

.sort {
  margin-bottom: 45px; }
  .sort__title {
    display: inline-block;
    font-family: Georgia;
    margin-right: 3px; }

.pagination {
  text-align: center; }
  .pagination li {
    font-size: 20px;
    margin-right: 20px; }
    .pagination li:first-of-type {
      margin-right: 46px; }
    .pagination li:last-of-type {
      margin-left: 26px; }
    .pagination li:first-of-type a, .pagination li:last-of-type a {
      width: 132px;
      height: 37px;
      line-height: 35px;
      font-family: Lobster;
      font-size: 18px;
      background: #d6f7f9;
      background: -webkit-gradient(linear, left top, left bottom, from(#d6f7f9), to(#83d9d2));
      background: -webkit-linear-gradient(top, #d6f7f9 0%, #83d9d2 100%);
      background: linear-gradient(to bottom, #d6f7f9 0%, #83d9d2 100%);
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border-bottom: 2px solid #46B4A7; }
      .pagination li:first-of-type a:hover, .pagination li:last-of-type a:hover {
        color: #422d04;
        background: -webkit-gradient(linear, left bottom, left top, from(#d6f7f9), to(#83d9d2));
        background: -webkit-linear-gradient(bottom, #d6f7f9 0%, #83d9d2 100%);
        background: linear-gradient(to top, #d6f7f9 0%, #83d9d2 100%);
        border-bottom: 2px solid #83d9d2; }
    .pagination li:hover a, .pagination li.item_select a {
      color: #41b7aa; }
  .pagination a {
    display: block; }

.catalog_range .row:last-of-type:after {
  background: none;
  margin-bottom: 30px; }

.catalog .row {
  margin-left: -11px;
  margin-right: -11px; }
  .catalog .row:after {
    content: '';
    display: block;
    position: relative;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url("../img/bg/lines/1.png"); }

.catalog .col {
  padding-left: 11px;
  padding-right: 11px; }

.catalog__item {
  position: relative;
  display: block;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border: 3px solid rgba(247, 208, 81, 0.3); }
  .catalog__item:hover {
    background: #F7D051;
    border: 3px solid #F7D051; }
    .catalog__item:hover .catalog__link {
      display: block; }

.catalog__img {
  background: #F7D051;
  height: 248px;
  line-height: 248px;
  margin-bottom: 12px; }
  .catalog__img img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle; }

.catalog__title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 52px;
  font-size: 20px;
  background: #F7D051;
  width: 223px;
  padding-left: 10px;
  padding-right: 10px; }

.catalog__link {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: -webkit-calc(100% + 6px);
  width: calc(100% + 6px);
  margin-left: -3px;
  background: #F7D051;
  bottom: -24px;
  left: 0;
  padding-bottom: 14px;
  border: 3px solid #F7D051;
  -webkit-border-radius: 0 0 19px 19px;
          border-radius: 0 0 19px 19px; }

.products .row {
  margin-left: -15px;
  margin-right: -15px; }
  .products .row:after {
    content: '';
    display: block;
    position: relative;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 28px;
    background: url("../img/bg/lines/1.png"); }
  .products .row .col {
    padding-left: 15px;
    padding-right: 15px; }

.products__item {
  border: 1px solid #f7d051;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 28px;
  -webkit-transition: .3s;
  transition: .3s; }
  .products__item:hover {
    background: #F7D051; }

.products__img {
  margin-left: -1px;
  margin-right: -1px;
  line-height: 248px;
  width: 222px;
  height: 252px;
  background: #F7D051;
  margin-bottom: 12px; }
  .products__img img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%; }

.products__title {
  font-size: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 9px; }

.products__data {
  font-size: 20px;
  padding-left: 23px;
  padding-right: 23px; }

.products__button {
  float: right;
  text-align: right; }

.range {
  height: 142px;
  background: url("../img/bg/range.png");
  text-align: center;
  font-size: 48px;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 45px; }
  .range span {
    z-index: 1;
    padding-top: 5px;
    margin-left: 20px;
    padding-right: 82px; }
    .range span:after {
      z-index: -1;
      content: '';
      background: url("../img/bg/cap.png");
      width: 139px;
      height: 120px;
      position: absolute;
      top: -60px;
      right: -10px;
      -webkit-transform: rotate(75deg);
          -ms-transform: rotate(75deg);
              transform: rotate(75deg); }

.services-blur {
  height: 386px;
  position: relative;
  margin-bottom: 31px; }
  .services-blur:after {
    content: '';
    position: absolute;
    display: block;
    background: url("../img/bg/lines/2.png") no-repeat center;
    width: 976px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0; }
  .services-blur__item {
    display: block;
    position: absolute;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transition: .3s;
    transition: .3s; }
    .services-blur__item:before {
      z-index: -2;
      opacity: 0;
      content: '';
      position: absolute; }
    .services-blur__item:hover {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: none !important;
              animation: none !important; }
      .services-blur__item:hover:before {
        z-index: 1;
        opacity: 1; }
  .services-blur__item-1 {
    top: 85px;
    left: 19px;
    -webkit-animation: cake1 infinite 3s;
            animation: cake1 infinite 3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
    .services-blur__item-1:before {
      background: url("../img/bg/text/services-1.png");
      width: 133px;
      height: 40px;
      top: -22px;
      right: 57px; }
  .services-blur__item-2 {
    top: 179px;
    left: 271px;
    -webkit-animation: cake2 infinite 2.5s;
            animation: cake2 infinite 2.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
    .services-blur__item-2:before {
      background: url("../img/bg/text/services-2.png");
      width: 128px;
      height: 86px;
      bottom: 10px;
      left: -10px; }
  .services-blur__item-3 {
    top: 38px;
    left: 437px;
    -webkit-animation: cake3 infinite 2.2s;
            animation: cake3 infinite 2.2s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
    .services-blur__item-3:before {
      background: url("../img/bg/text/services-3.png");
      width: 145px;
      height: 42px;
      bottom: -40px;
      left: 13px; }
  .services-blur__item-4 {
    top: 52px;
    right: 40px;
    -webkit-animation: cake4 infinite 2.7s;
            animation: cake4 infinite 2.7s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
    .services-blur__item-4:before {
      background: url("../img/bg/text/services-4.png");
      width: 100px;
      height: 49px;
      left: 120px;
      top: -27px; }

.services {
  text-align: center; }
  .services__item {
    display: block; }
    .services__item:hover img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .services__img {
    display: block;
    margin-bottom: 3px;
    line-height: 166px; }
    .services__img img {
      position: relative;
      display: inline-block;
      vertical-align: bottom;
      -webkit-transition: .3s;
      transition: .3s; }
  .services__title {
    font-size: 20px; }
  .services .row {
    position: relative; }
    .services .row:nth-of-type(1):after {
      background: url("../img/bg/lines/1.png") repeat-x center;
      width: 100%;
      height: 32px;
      margin-left: auto;
      margin-right: auto; }

.order-block {
  height: 232px;
  background: url("../img/bg/order.png");
  text-align: center;
  padding-top: 36px;
  margin-top: 60px; }
  .order-block .container:before {
    position: absolute;
    content: '';
    background: url("../img/bg/cap.png");
    width: 139px;
    height: 120px;
    top: -60px;
    left: 15px; }
  .order-block__title {
    margin-bottom: 13px; }
  .order-block__desc {
    font-family: Georgia;
    margin-bottom: 30px; }
  .order-block__elements {
    font-size: 0; }
  .order-block .input, .order-block .file label {
    width: 177px; }
  .order-block .input {
    margin-right: 18px; }
  .order-block .file label {
    margin-right: 48px; }

.title {
  font-size: 48px; }

.file {
  display: inline-block;
  vertical-align: top; }
  .file input {
    display: none; }
  .file label {
    position: relative;
    font-size: 16px;
    font-family: Georgia;
    display: block;
    padding-top: 11px;
    width: 177px;
    height: 42.5px;
    padding-left: 20px;
    -webkit-box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54);
            box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54);
    -webkit-border-radius: 21px;
            border-radius: 21px;
    border: 1px solid #81d8d0;
    background-color: #ffffff;
    text-align: left;
    cursor: pointer; }
    .file label:before {
      z-index: 2;
      content: '+';
      position: absolute;
      color: #422d04;
      font-family: Georgia;
      font-size: 30px;
      right: 10px;
      top: 0; }
    .file label:after {
      content: '';
      position: absolute;
      background: url("../img/bg/file-bg.png");
      width: 38px;
      height: 43px;
      top: -1px;
      right: -1px; }

.reasons {
  padding-top: 65px;
  text-align: center; }
  .reasons:after {
    content: '';
    position: relative;
    display: block;
    background: url("../img/bg/lines/2.png") no-repeat center;
    width: 976px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px; }
  .reasons__title {
    color: #81d8d0; }
  .reasons__desc {
    font-size: 20px; }
  .reasons__subtitle {
    font-size: 20px;
    color: #81d8d0;
    margin-top: 15px; }
  .reasons__icon {
    padding-top: 50px; }
  .reasons__subdesc {
    font-family: Georgia;
    margin-bottom: 6px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; }

.popular {
  padding-top: 61px; }
  .popular__title {
    background: url("../img/bg/text/popular-title.png");
    width: 419px;
    height: 115px;
    margin-left: auto;
    margin-right: auto; }
    .popular__title span {
      display: none; }
  .popular__desc {
    background: url("../img/bg/text/popular-desc.png");
    width: 207px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 25px; }
    .popular__desc span {
      display: none; }
  .popular__list {
    height: 595px;
    position: relative; }
  .popular__item {
    position: absolute;
    display: block; }
    .popular__item img {
      -webkit-transition: .3s;
      transition: .3s; }
    .popular__item:hover img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .popular__item-1 {
      top: 0;
      left: -webkit-calc(50% - 156px);
      left: calc(50% - 156px); }
      .popular__item-1:hover img {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
    .popular__item-2 {
      top: 80px;
      left: 75px; }
    .popular__item-3 {
      top: 295px;
      left: 165px; }
    .popular__item-4 {
      top: 405px;
      left: -webkit-calc(50% - 87.5px);
      left: calc(50% - 87.5px); }
    .popular__item-5 {
      top: 295px;
      right: 165px; }
    .popular__item-6 {
      top: 80px;
      right: 75px; }

.text {
  font-family: Georgia;
  line-height: 24px;
  text-align: center;
  margin-bottom: 40px; }
  .text__title {
    font-size: 30px;
    font-family: Lobster;
    color: #81d8d0;
    margin-bottom: 12px;
    margin-top: 40px;
    line-height: normal; }
  .text p {
    margin-bottom: 20px; }
    .text p:last-of-type {
      margin-bottom: 0; }

.reviews {
  padding-bottom: 40px; }
  .reviews .slick-arrow {
    opacity: 1 !important;
    position: relative;
    display: block;
    left: auto;
    right: auto;
    top: auto;
    margin-left: auto;
    margin-right: auto; }
    .reviews .slick-arrow:hover {
      background-image: url(../img/sprite.png);
      background-position: -41px -146px;
      width: 35px;
      height: 35px; }
    .reviews .slick-arrow:before {
      display: none; }
    .reviews .slick-arrow.rotate {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .reviews .slick-arrow.slick-prev {
      margin-bottom: 30px; }
    .reviews .slick-arrow.slick-next {
      margin-top: 30px; }
  .reviews__title {
    text-align: center;
    margin-bottom: 8px; }
  .reviews__desc {
    color: #81d8d0;
    text-align: center;
    margin-bottom: 39px; }
  .reviews__item {
    position: relative;
    outline: none; }
    .reviews__item:after {
      position: relative;
      content: '';
      background: url("../img/bg/lines/1.png") repeat-x center;
      width: 100%;
      height: 5px;
      margin: 0 auto 30px; }
  .reviews__img {
    width: 165px;
    padding-bottom: 30px; }
  .reviews__content {
    float: right;
    width: -webkit-calc(100% - 185px);
    width: calc(100% - 185px);
    padding-top: 28px;
    padding-bottom: 30px; }
  .reviews__subtitle {
    font-size: 20px;
    font-style: italic; }
  .reviews__text {
    font-family: Georgia;
    margin-top: 14px;
    line-height: 24px; }
  .reviews__about {
    position: absolute;
    right: 0;
    top: 0; }
    .reviews__about > div {
      display: inline-block; }
      .reviews__about > div:nth-of-type(1):after {
        position: relative;
        top: 5px;
        content: '';
        display: inline-block;
        margin-left: 5px;
        margin-right: 2px;
        width: 1px;
        height: 20px;
        background-color: #c276ba; }

.footer {
  padding-top: 42px;
  padding-bottom: 30px;
  background: url("../img/bg/footer.png") repeat-x center top; }
  .footer .row > .col {
    height: 353px;
    background: url("../img/bg/lines/3.png") no-repeat right top; }
  .footer__system {
    padding-right: 14px; }
  .footer__copy {
    text-align: center;
    font-family: Georgia;
    margin-top: 15px;
    margin-bottom: 20px; }
  .footer__certificates {
    font-size: 0;
    text-align: center; }
    .footer__certificates .footer__title {
      margin-bottom: 12px; }
    .footer__certificates a {
      margin-right: 8px; }
      .footer__certificates a:last-of-type {
        margin-right: 0; }
    .footer__certificates img {
      display: inline-block; }
  .footer__nav {
    padding-left: 23px;
    padding-right: 35px; }
    .footer__nav li {
      display: block;
      font-family: Georgia;
      text-align: center;
      margin-bottom: 20px; }
      .footer__nav li:last-of-type {
        margin-bottom: 0; }
    .footer__nav a {
      display: inline-block;
      border-color: #422d04; }
      .footer__nav a:hover {
        border-color: transparent; }
  .footer__title {
    margin-bottom: 23px;
    text-align: center;
    font-size: 20px;
    margin-top: -5px; }
    .footer__title-big {
      font-size: 30px;
      text-align: center;
      margin-bottom: 26px;
      margin-top: -20px; }
      .footer__title-big span {
        display: block;
        font-size: 35px; }
  .footer__contacts {
    padding-left: 25px;
    padding-right: 50px; }
    .footer__contacts .contacts-block {
      margin-top: -5px; }
    .footer__contacts .phone {
      margin-bottom: 10px !important; }
    .footer__contacts .button {
      width: 100%;
      height: 39px;
      line-height: 37px;
      font-size: 20px; }
  .footer__order {
    float: right;
    background: none !important; }
    .footer__order .input {
      display: block;
      width: 100%;
      margin-bottom: 17px; }
    .footer__order .button {
      margin-top: 3px;
      width: 100%;
      line-height: 43px;
      margin-bottom: 18px; }
  .footer .dev p {
    padding-left: 7px;
    font-family: Georgia;
    margin-bottom: 7px; }

#go-up {
  position: fixed;
  display: block;
  width: 91px;
  height: 91px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6f7f9), to(#83d9d2));
  background: -webkit-linear-gradient(top, #d6f7f9 0%, #83d9d2 100%);
  background: linear-gradient(to bottom, #d6f7f9 0%, #83d9d2 100%);
  text-align: center;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  right: 3%;
  bottom: 3%;
  padding-top: 14px;
  cursor: pointer; }
  #go-up p {
    margin-top: 2px;
    font-family: Georgia; }
