// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-active-name: 'arrow-active'
$arrow-active-x: 41px
$arrow-active-y: 146px
$arrow-active-offset-x: -41px
$arrow-active-offset-y: -146px
$arrow-active-width: 35px
$arrow-active-height: 35px
$arrow-active-total-width: 221px
$arrow-active-total-height: 217px
$arrow-active-image: '../img/sprite.png'
$arrow-active: (41px, 146px, -41px, -146px, 35px, 35px, 221px, 217px, '../img/sprite.png', 'arrow-active', )
$arrow-default-name: 'arrow-default'
$arrow-default-x: 148px
$arrow-default-y: 53px
$arrow-default-offset-x: -148px
$arrow-default-offset-y: -53px
$arrow-default-width: 35px
$arrow-default-height: 35px
$arrow-default-total-width: 221px
$arrow-default-total-height: 217px
$arrow-default-image: '../img/sprite.png'
$arrow-default: (148px, 53px, -148px, -53px, 35px, 35px, 221px, 217px, '../img/sprite.png', 'arrow-default', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 164px
$arrow-left-y: 88px
$arrow-left-offset-x: -164px
$arrow-left-offset-y: -88px
$arrow-left-width: 15px
$arrow-left-height: 26px
$arrow-left-total-width: 221px
$arrow-left-total-height: 217px
$arrow-left-image: '../img/sprite.png'
$arrow-left: (164px, 88px, -164px, -88px, 15px, 26px, 221px, 217px, '../img/sprite.png', 'arrow-left', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 111px
$arrow-right-y: 146px
$arrow-right-offset-x: -111px
$arrow-right-offset-y: -146px
$arrow-right-width: 14px
$arrow-right-height: 26px
$arrow-right-total-width: 221px
$arrow-right-total-height: 217px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (111px, 146px, -111px, -146px, 14px, 26px, 221px, 217px, '../img/sprite.png', 'arrow-right', )
$arrow-name: 'arrow'
$arrow-x: 140px
$arrow-y: 122px
$arrow-offset-x: -140px
$arrow-offset-y: -122px
$arrow-width: 15px
$arrow-height: 9px
$arrow-total-width: 221px
$arrow-total-height: 217px
$arrow-image: '../img/sprite.png'
$arrow: (140px, 122px, -140px, -122px, 15px, 9px, 221px, 217px, '../img/sprite.png', 'arrow', )
$cake-rotate-name: 'cake-rotate'
$cake-rotate-x: 0px
$cake-rotate-y: 53px
$cake-rotate-offset-x: 0px
$cake-rotate-offset-y: -53px
$cake-rotate-width: 79px
$cake-rotate-height: 93px
$cake-rotate-total-width: 221px
$cake-rotate-total-height: 217px
$cake-rotate-image: '../img/sprite.png'
$cake-rotate: (0px, 53px, 0px, -53px, 79px, 93px, 221px, 217px, '../img/sprite.png', 'cake-rotate', )
$cake-name: 'cake'
$cake-x: 79px
$cake-y: 53px
$cake-offset-x: -79px
$cake-offset-y: -53px
$cake-width: 69px
$cake-height: 69px
$cake-total-width: 221px
$cake-total-height: 217px
$cake-image: '../img/sprite.png'
$cake: (79px, 53px, -79px, -53px, 69px, 69px, 221px, 217px, '../img/sprite.png', 'cake', )
$cart-name: 'cart'
$cart-x: 183px
$cart-y: 115px
$cart-offset-x: -183px
$cart-offset-y: -115px
$cart-width: 32px
$cart-height: 27px
$cart-total-width: 221px
$cart-total-height: 217px
$cart-image: '../img/sprite.png'
$cart: (183px, 115px, -183px, -115px, 32px, 27px, 221px, 217px, '../img/sprite.png', 'cart', )
$close-name: 'close'
$close-x: 76px
$close-y: 146px
$close-offset-x: -76px
$close-offset-y: -146px
$close-width: 35px
$close-height: 35px
$close-total-width: 221px
$close-total-height: 217px
$close-image: '../img/sprite.png'
$close: (76px, 146px, -76px, -146px, 35px, 35px, 221px, 217px, '../img/sprite.png', 'close', )
$dev-name: 'dev'
$dev-x: 0px
$dev-y: 0px
$dev-offset-x: 0px
$dev-offset-y: 0px
$dev-width: 183px
$dev-height: 53px
$dev-total-width: 221px
$dev-total-height: 217px
$dev-image: '../img/sprite.png'
$dev: (0px, 0px, 0px, 0px, 183px, 53px, 221px, 217px, '../img/sprite.png', 'dev', )
$email-name: 'email'
$email-x: 99px
$email-y: 122px
$email-offset-x: -99px
$email-offset-y: -122px
$email-width: 24px
$email-height: 17px
$email-total-width: 221px
$email-total-height: 217px
$email-image: '../img/sprite.png'
$email: (99px, 122px, -99px, -122px, 24px, 17px, 221px, 217px, '../img/sprite.png', 'email', )
$hands-name: 'hands'
$hands-x: 0px
$hands-y: 146px
$hands-offset-x: 0px
$hands-offset-y: -146px
$hands-width: 41px
$hands-height: 35px
$hands-total-width: 221px
$hands-total-height: 217px
$hands-image: '../img/sprite.png'
$hands: (0px, 146px, 0px, -146px, 41px, 35px, 221px, 217px, '../img/sprite.png', 'hands', )
$heart-name: 'heart'
$heart-x: 183px
$heart-y: 78px
$heart-offset-x: -183px
$heart-offset-y: -78px
$heart-width: 37px
$heart-height: 37px
$heart-total-width: 221px
$heart-total-height: 217px
$heart-image: '../img/sprite.png'
$heart: (183px, 78px, -183px, -78px, 37px, 37px, 221px, 217px, '../img/sprite.png', 'heart', )
$insta-active-name: 'insta-active'
$insta-active-x: 180px
$insta-active-y: 181px
$insta-active-offset-x: -180px
$insta-active-offset-y: -181px
$insta-active-width: 36px
$insta-active-height: 36px
$insta-active-total-width: 221px
$insta-active-total-height: 217px
$insta-active-image: '../img/sprite.png'
$insta-active: (180px, 181px, -180px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'insta-active', )
$insta-name: 'insta'
$insta-x: 108px
$insta-y: 181px
$insta-offset-x: -108px
$insta-offset-y: -181px
$insta-width: 36px
$insta-height: 36px
$insta-total-width: 221px
$insta-total-height: 217px
$insta-image: '../img/sprite.png'
$insta: (108px, 181px, -108px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'insta', )
$natural-name: 'natural'
$natural-x: 183px
$natural-y: 39px
$natural-offset-x: -183px
$natural-offset-y: -39px
$natural-width: 38px
$natural-height: 39px
$natural-total-width: 221px
$natural-total-height: 217px
$natural-image: '../img/sprite.png'
$natural: (183px, 39px, -183px, -39px, 38px, 39px, 221px, 217px, '../img/sprite.png', 'natural', )
$phone-name: 'phone'
$phone-x: 148px
$phone-y: 88px
$phone-offset-x: -148px
$phone-offset-y: -88px
$phone-width: 16px
$phone-height: 29px
$phone-total-width: 221px
$phone-total-height: 217px
$phone-image: '../img/sprite.png'
$phone: (148px, 88px, -148px, -88px, 16px, 29px, 221px, 217px, '../img/sprite.png', 'phone', )
$search-name: 'search'
$search-x: 123px
$search-y: 122px
$search-offset-x: -123px
$search-offset-y: -122px
$search-width: 17px
$search-height: 17px
$search-total-width: 221px
$search-total-height: 217px
$search-image: '../img/sprite.png'
$search: (123px, 122px, -123px, -122px, 17px, 17px, 221px, 217px, '../img/sprite.png', 'search', )
$surprise-name: 'surprise'
$surprise-x: 183px
$surprise-y: 0px
$surprise-offset-x: -183px
$surprise-offset-y: 0px
$surprise-width: 38px
$surprise-height: 39px
$surprise-total-width: 221px
$surprise-total-height: 217px
$surprise-image: '../img/sprite.png'
$surprise: (183px, 0px, -183px, 0px, 38px, 39px, 221px, 217px, '../img/sprite.png', 'surprise', )
$trash-name: 'trash'
$trash-x: 79px
$trash-y: 122px
$trash-offset-x: -79px
$trash-offset-y: -122px
$trash-width: 20px
$trash-height: 23px
$trash-total-width: 221px
$trash-total-height: 217px
$trash-image: '../img/sprite.png'
$trash: (79px, 122px, -79px, -122px, 20px, 23px, 221px, 217px, '../img/sprite.png', 'trash', )
$vk-active-name: 'vk-active'
$vk-active-x: 36px
$vk-active-y: 181px
$vk-active-offset-x: -36px
$vk-active-offset-y: -181px
$vk-active-width: 36px
$vk-active-height: 36px
$vk-active-total-width: 221px
$vk-active-total-height: 217px
$vk-active-image: '../img/sprite.png'
$vk-active: (36px, 181px, -36px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'vk-active', )
$vk-name: 'vk'
$vk-x: 0px
$vk-y: 181px
$vk-offset-x: 0px
$vk-offset-y: -181px
$vk-width: 36px
$vk-height: 36px
$vk-total-width: 221px
$vk-total-height: 217px
$vk-image: '../img/sprite.png'
$vk: (0px, 181px, 0px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'vk', )
$youtube-active-name: 'youtube-active'
$youtube-active-x: 144px
$youtube-active-y: 181px
$youtube-active-offset-x: -144px
$youtube-active-offset-y: -181px
$youtube-active-width: 36px
$youtube-active-height: 36px
$youtube-active-total-width: 221px
$youtube-active-total-height: 217px
$youtube-active-image: '../img/sprite.png'
$youtube-active: (144px, 181px, -144px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'youtube-active', )
$youtube-name: 'youtube'
$youtube-x: 72px
$youtube-y: 181px
$youtube-offset-x: -72px
$youtube-offset-y: -181px
$youtube-width: 36px
$youtube-height: 36px
$youtube-total-width: 221px
$youtube-total-height: 217px
$youtube-image: '../img/sprite.png'
$youtube: (72px, 181px, -72px, -181px, 36px, 36px, 221px, 217px, '../img/sprite.png', 'youtube', )
$spritesheet-width: 221px
$spritesheet-height: 217px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-active, $arrow-default, $arrow-left, $arrow-right, $arrow, $cake-rotate, $cake, $cart, $close, $dev, $email, $hands, $heart, $insta-active, $insta, $natural, $phone, $search, $surprise, $trash, $vk-active, $vk, $youtube-active, $youtube, )
$spritesheet: (221px, 217px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
.icon-arrow-active
  @include sprite($arrow-active)
.icon-arrow-default
  @include sprite($arrow-default)
.icon-arrow-left
  @include sprite($arrow-left)
.icon-arrow-right
  @include sprite($arrow-right)
.icon-arrow
  @include sprite($arrow)
.icon-cake-rotate
  @include sprite($cake-rotate)
.icon-cake
  @include sprite($cake)
.icon-cart
  @include sprite($cart)
.icon-close
  @include sprite($close)
.icon-dev
  @include sprite($dev)
.icon-email
  @include sprite($email)
.icon-hands
  @include sprite($hands)
.icon-heart
  @include sprite($heart)
.icon-insta-active
  @include sprite($insta-active)
.icon-insta
  @include sprite($insta)
.icon-natural
  @include sprite($natural)
.icon-phone
  @include sprite($phone)
.icon-search
  @include sprite($search)
.icon-surprise
  @include sprite($surprise)
.icon-trash
  @include sprite($trash)
.icon-vk-active
  @include sprite($vk-active)
.icon-vk
  @include sprite($vk)
.icon-youtube-active
  @include sprite($youtube-active)
.icon-youtube
  @include sprite($youtube)
.icon
  display: inline-block
  vertical-align: middle