@import "sprite.sass"
@import "grid.sass"
@import "fonts.sass"
@import "animation.css"

$color-1: #422d04
$font-size: 16px
$font-family-1: 'Lobster', sans-serif
$transition-speed: .3s

*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box

body
	font: $font-size $font-family-1
	color: $color-1
	background: white
	box-sizing: border-box
	background: url('../img/bg/body.png'), #FEFAD9

h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		font-size: $font-size
		list-style: none
		display: inline-block



span
	position: relative
	display: inline-block


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: $transition-speed


/* Button */
button, input[type="button"], input[type="reset"]
	background: none
	cursor: pointer
	outline: none


input.input
	font-size: 16px
	font-family: Georgia
	outline: none
	&-default
		height: 43px
		box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
		border: 1px solid #81d8d0
		background-color: #ffffff
		border-radius: 20px
		padding-left: 20px
		padding-right: 20px
::placeholder
	color: rgba(66,45,4, .5)







.button
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center
	cursor: pointer
	&_yellow
		font-size: 20px
		width: 222px
		line-height: 37px
		height: 39px
		background: url('../img/bg/button-yellow.png')
		&:hover

	&_blue
		display: inline-block
		vertical-align: top
		width: 167px
		height: 45px
		font-family: Lobster
		font-size: 18px
		// background: url('../img/bg/button-blue.png')
		background: #d6f7f9
		background: linear-gradient(to bottom, #d6f7f9 0%,#83d9d2 100%)
		border-radius: 30px
		border-bottom: 2px solid #46B4A7
		&:hover
			background: linear-gradient(to top, #d6f7f9 0%,#83d9d2 100%)
			border-bottom: 2px solid #83d9d2



.textarea
	display: block
	width: 100%
	height: 108px
	box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
	border-radius: 40px
	border: 1px solid #81d8d0
	background-color: #ffffff
	padding: 19px 17px
	font-family: Georgia
	font-size: 16px
	outline: none
	resize: none
	overflow: hidden




.select
	position: relative
	width: 183px
	&.select_open
		.select__title
			&:after
				transform: rotate(180deg)
		.select__list
			display: block
	::-webkit-scrollbar
		width: 7px
		background: transparent

	::-webkit-scrollbar-thumb
		background: gray

.select__title
	padding: 0 21px
	width: 100%
	height: 43px
	line-height: 43px
	box-sizing: border-box
	cursor: pointer
	border: 1px solid #81d8d0
	box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
	background-color: #ffffff
	border-radius: 21px
	font-family: Georgia
	&:before
		content: ''
		position: absolute
		top: 0
		right: 0
		width: 38px
		height: 43px
		background: linear-gradient(to bottom, #d6f7f9 0%,#83d9d2 100%)
		border-radius: 0 25px 25px 0
	&:after
		content: ''
		position: absolute
		top: 18px
		right: 12px
		width: 0
		height: 0
		@include sprite($arrow)
		transition: .3s


.select__list
	display: none
	z-index: 1
	position: absolute
	top: 104%
	left: 0
	width: 100%
	max-height: 110px
	overflow-y: auto
	border: 1px solid #81d8d0
	box-shadow: inset 1px 1px 1px rgba(66, 45, 4, 0.54)
	background-color: #ffffff
	border-radius: 10px
	font-family: Georgia


.select__list-item
	display: block
	padding: 4px 10px
	cursor: pointer
	transition: .3s
	&:hover
		background: #d6f7f9

.select__parsing
	display: none

@media screen and (max-width: 768px)
	.select__list
		position: relative
		top: -1px











.popup
	display: none
	width: 534px
	background: url('../img/bg/bg.png') center
	border-radius: 40px
	padding: 60px 10px 20px
	min-height: 227px
	.fancybox-close-small
		display: none
	&__title
		font-size: 40px
		text-align: center
		margin-bottom: 24px
	&__desc
		margin-top: 25px
		text-align: center
		font-family: Georgia
		font-size: 20px
		line-height: 24px
		max-width: 370px
		margin-left: auto
		margin-right: auto
	&__close
		position: absolute
		top: 14px
		right: 14px
		transition: .3s
		&:hover
			transform: rotate(90deg)
	.input
		display: block
		margin-left: auto
		margin-right: auto
		margin-bottom: 20px
		width: 301px
		text-align: center

	.button
		display: block
		margin-left: auto
		margin-right: auto
		width: 225px
.cart
	z-index: 9999
	top: 100px
	right: 0
	position: fixed
	width: 323px
	height: 279px
	background: url('../img/bg/cart.png')
	font-family: Georgia
	border-radius: 40px
	&__count
		position: absolute
		color: white
		top: 35px
		left: 37px
		width: 30px
		text-align: center
	&__sum
		position: absolute
		color: #81d8d0
		top: 35px
		left: 85px
.header	
	padding-top: 36px

.sn
	padding-top: 4px
	a
		transition: none
	li
		margin-right: 10px
		&:last-of-type
			margin-right: 0
	.icon-vk
		&:hover
			@include sprite($vk-active)
	.icon-insta
		&:hover
			@include sprite($insta-active)
	.icon-youtube
		&:hover
			@include sprite($youtube-active)
	&__title
		margin-bottom: 10px
		font-size: 20px
.search-block
	position: relative
	width: 222px
	height: 37px
	box-shadow: inset 2px 3px 1px rgba(66, 45, 4, 0.54)
	border: 1px solid #f4c853
	background-color: #ffffff
	border-radius: 20px
	margin-top: 15px
	&__input
		display: block
		background: none
		padding-left: 23px
		line-height: 35px
		width: 180px
	&__button
		cursor: pointer
		position: absolute
		top: 10px		
		right: 17px

img
	display: block
	margin-left: auto
	margin-right: auto
	max-width: 100%


.header
	padding-top: 36px
	padding-bottom: 40px
	&__logo
		text-align: center
	.contacts-block
		text-align: right
		.phone
			&:nth-of-type(1)
				&:after
					content: ''
					display: block
					position: relative
					background: url('../img/bg/lines/1.png')
					width: 201px
					height: 5px
					margin-left: auto
					margin-top: 2px
					margin-bottom: 2px
		.button
			text-shadow: 0px 1px 1px white
.contacts-block
	font-size: 29px
	padding-top: 3px
	.icon
		margin-right: 11px
		position: relative
		top: -4px
	.phone
		&:nth-of-type(2)
			margin-bottom: 10px
	.button
		margin-right: 0
	
	.email
		font-family: Georgia
		font-size: 16px
		margin-bottom: 19px
		.icon
			top: -2px
			margin-right: 20px
		a
			border-color: $color-1
			&:hover
				border-color: transparent



.nav
	transition: .3s
	&_fixed
		z-index: 9999
		position: fixed
		width: 100%
		background: white
		top: 0
		left: 0
		ul
			background: none !important
			height: 60px !important
			line-height: 56px !important
			&:before
				display: none !important
		+ .main
			margin-top: 60px
	ul
		position: relative
		text-align: center
		border-radius: 40px
		height: 81px
		line-height: 79px
		background: #acf0eb
		background: -moz-linear-gradient(top, #acf0eb 2%, #68cdc3 94%, #3fb8ab 94%)
		background: -webkit-linear-gradient(top, #acf0eb 2%,#68cdc3 94%,#3fb8ab 94%)
		background: linear-gradient(to bottom, #acf0eb 2%,#68cdc3 94%,#3fb8ab 94%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acf0eb', endColorstr='#3fb8ab',GradientType=0 )
		&:before
			display: block
			content: ''
			width: 96%
			left: 2%
			height: 1px
			background: #96E5DF
			position: absolute
			bottom: 5px
	li
		font-size: 20px
		&:before
			position: relative
			display: inline-block
			content: ''
			top: 6px
			margin-left: 10px
			margin-right: 10px
			background: url('../img/bg/lines/3.png')
			width: 5px
			height: 25px
		&:first-of-type
			&:before
				display: none
		&.nav__item_select, &:hover
			a
				background: #F7D150
	a
		padding: 7px 28px
		border-radius: 30px
		text-shadow: 1px 2px 1px white

.main
	min-height: 400px


.page
	&__title
		margin-top: 20px
		font-size: 30px
		margin-bottom: 12px
	.text
		text-align: justify
		padding-bottom: 60px
		&__title
			color: $color-1


.nav-buttons
	ul
		display: inline-block
		font-family: Georgia
		li
			margin-right: 9px
			&.item_select
				a
					background-color: #81d8d0
		a
			display: block
			background-color: #f7d051
			padding: 4px 10px
			border-radius: 20px
			&:hover
				background-color: #81d8d0
		span
			display: block
			background-color: #81d8d0
			// margin: -4px -10px
			padding: 4px 10px
			border-radius: 20px


.breadcrumbs
	&:after
		content: ''
		display: block
		position: relative
		width: 100%
		height: 5px
		margin-top: 20px
		margin-bottom: 13px
		background: url('../img/bg/lines/1.png')
		

.sort
	margin-bottom: 45px
	&__title
		display: inline-block
		font-family: Georgia
		margin-right: 3px
	&__item_select

.pagination
	text-align: center
	li
		font-size: 20px
		margin-right: 20px
		&:first-of-type
			margin-right: 46px
		&:last-of-type
			margin-left: 26px
		&:first-of-type, &:last-of-type
			a
				width: 132px
				height: 37px
				line-height: 35px
				font-family: Lobster
				font-size: 18px
				// background: url('../img/bg/button-blue.png')
				background: #d6f7f9
				background: linear-gradient(to bottom, #d6f7f9 0%,#83d9d2 100%)
				border-radius: 30px
				border-bottom: 2px solid #46B4A7
				&:hover
					color: $color-1
					background: linear-gradient(to top, #d6f7f9 0%,#83d9d2 100%)
					border-bottom: 2px solid #83d9d2
		&:hover, &.item_select
			a
				color: #41b7aa
	a
		display: block


.catalog
	&_range
		.row
			&:last-of-type
				&:after
					background: none
					margin-bottom: 30px
	.row
		margin-left: -11px
		margin-right: -11px
		&:after
			content: ''
			display: block
			position: relative
			width: calc(100% - 30px)
			margin-left: auto
			margin-right: auto
			height: 5px
			margin-top: 20px
			margin-bottom: 20px
			background: url('../img/bg/lines/1.png')

	.col
		padding-left: 11px
		padding-right: 11px
	&__item
		position: relative
		display: block
		border-radius: 19px
		padding-top: 16px
		padding-bottom: 16px
		margin-bottom: 20px
		border: 3px solid rgba(247,208,81, .3)
		&:hover
			background: #F7D051
			border: 3px solid #F7D051
			.catalog__link
				display: block
	&__img
		background: #F7D051
		height: 248px
		line-height: 248px
		margin-bottom: 12px
		img
			max-width: 100%
			
			display: inline-block
			vertical-align: middle

	&__title
		display: table-cell
		vertical-align: middle
		text-align: center
		height: 52px
		font-size: 20px
		background: #F7D051
		width: 223px
		padding-left: 10px
		padding-right: 10px
	
	&__link
		display: none
		position: absolute
		text-align: center
		font-size: 20px
		width: calc(100% + 6px)
		margin-left: -3px
		background: #F7D051
		bottom: -24px
		left: 0
		padding-bottom: 14px
		border: 3px solid #F7D051
		border-radius: 0 0 19px 19px



.products
	.row
		margin-left: -15px
		margin-right: -15px
		&:after
			content: ''
			display: block
			position: relative
			width: calc(100% - 30px)
			margin-left: auto
			margin-right: auto
			height: 5px
			margin-top: 20px
			margin-bottom: 28px
			background: url('../img/bg/lines/1.png')
		.col
			padding-left: 15px
			padding-right: 15px
	&__list

	&__item
		border: 1px solid #f7d051
		border-radius: 19px
		padding-top: 16px
		padding-bottom: 8px
		margin-bottom: 28px
		transition: .3s 
		&:hover
			background: #F7D051
	&__img
		margin-left: -1px
		margin-right: -1px
		line-height: 248px
		width: 222px
		height: 252px
		background: #F7D051
		margin-bottom: 12px
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
	&__title
		font-size: 20px
		text-align: center
		padding-left: 5px
		padding-right: 5px
		margin-bottom: 9px

	&__data
		font-size: 20px
		padding-left: 23px
		padding-right: 23px
	&__button
		float: right
		text-align: right


.range
	height: 142px
	background: url('../img/bg/range.png')
	text-align: center
	font-size: 48px
	padding-top: 25px
	margin-top: 50px
	margin-bottom: 45px
	span
		z-index: 1
		padding-top: 5px
		margin-left: 20px
		padding-right: 82px
		&:after
			z-index: -1
			content: ''
			background: url('../img/bg/cap.png')
			width: 139px
			height: 120px
			position: absolute
			top: -60px
			right: -10px
			transform: rotate(75deg)





.order
	&__table
		margin-top: 30px
		margin-bottom: 14px
		table
			border-collapse: collapse
			width: 100%
		td
			padding-top: 20px
			padding-bottom: 20px
			&:nth-of-type(1)
				width: 13%
			&:nth-of-type(2)
				width: 50%
			&:nth-of-type(3)
				width: 21%
			&:nth-of-type(4)
		tr
			background: url('../img/bg/lines/1.png') repeat-x center bottom



	&__img
		padding-top: 15px
		padding-bottom: 15px
		border: 1px solid #F7D051
		width: 90px
		border-radius: 20px
		img
			display: block
			border-top: 2px solid #F7D051
			border-bottom: 2px solid #F7D051
			margin-left: auto
			margin-right: auto
			max-width: 88px
			width: 100%


	&__name
		font-size: 20px
		margin-bottom: 10px
	&__desc
		font-family: Georgia

	&__price
		width: 224px
		height: 43px
		line-height: 43px
		border-radius: 18px
		background-color: #f7d051
		padding-left: 19px
		padding-right: 17px
		p
			display: inline-block
			font-size: 20px
		i
			float: right
			margin-top: 10px
			cursor: pointer
	&__sum
		text-align: right
		margin-bottom: 25px
		.sum__name
			margin-right: 53px

.order__sum-final
	margin-top: 56px
	line-height: 43px
	.sum__count
		margin-left: 12px
.sum
	text-align: right
	&__name, &__count
		display: inline-block
		vertical-align: middle
		line-height: 30px
	&__name
		font-size: 20px
	&__count
		font-size: 30px
	.button
		width: 225px
		height: 43px
		margin-left: 21px





.book
	font-family: Georgia
	&__title
		font-size: 30px
		margin-bottom: 45px

	&__left
		padding-right: 15px

	&__right
		padding-left: 15px
	.line
		margin-bottom: 20px
		&_all
			p
				width: 100% !important
				margin-bottom: 17px
		&:last-of-type
			margin-bottom: 0
		p
			width: 160px
			display: inline-block
			vertical-align: middle
	.input, .select
		width: 301px
	.select
		display: inline-block
		&__title
			width: 100% !important
	
	.requred-text
		text-align: right


.product
	margin-top: 49px
	::placeholder
		color: $color-1
	&__img
		width: 352px
		border: 1px solid #F7D051
		padding-top: 17px
		padding-bottom: 17px
		border-radius: 20px
		.img
			width: 350px
			height: 319px
			background: #CDCDCD
			border-top: 1px solid #F7D051
			border-bottom: 1px solid #F7D051
		img
			display: inline-block
			max-width: 350px
			vertical-align: middle
		
	&__data
		width: 600px
		float: right
	&__system
		margin-top: -8px
		margin-bottom: 30px
	&__title
		font-size: 30px

	&__count
		float: right
		width: 169px
		line-height: 40px
		color: #422d04
		font-size: 20px
		font-weight: 400
		background: #F7D150
		text-align: center
		border-radius: 20px
	
	&__settings
		width: 345px
		font-family: Georgia

	&__line
		margin-bottom: 20px
		&_full
			.select, .input
				width: 100%
		&_size
			p, .select
				display: inline-block
			.select
				width: 223px
				margin-left: 27px
		&_file
			p
				display: inline-block
				margin-right: 31px
				padding-top: 3px
	&__icons
		float: right
		width: 200px
		padding-top: 16px
		font-family: Georgia
		text-align: center
		font-size: 13px
		.img
			height: 39px
			line-height: 39px
			margin-bottom: 18px
			img
				display: inline-block
				vertical-align: middle

		.row
			&:first-of-type
				margin-bottom: 37px
		.col
			&:first-of-type
				padding-right: 10px
			&:last-of-type
				padding-left: 10px

	&__price
		line-height: 40px
		.sum__name
			margin-right: 50px
		.button
			font-size: 20px
			margin-left: 32px




	&__text
		margin-bottom: 49px
		&:before
			content: ''
			display: block
			position: relative
			width: 100%
			height: 5px
			margin-top: 23px
			margin-bottom: 15px
			background: url('../img/bg/lines/1.png')

		h2
			font-size: 20px
			margin-bottom: 12px

		p
			font-family: Georgia
			line-height: 20px
			text-align: justify
	
.slider
	&__title
		text-align: center
		font-size: 30px
		margin-bottom: 24px
		p
			display: inline-block
			vertical-align: top
	&__arrows
		display: inline-block
		vertical-align: top
		padding-top: 8px
		margin-left: 25px
		.slick-arrow
			display: inline-block
			position: relative
			left: auto
			right: auto
			top: auto
			vertical-align: bottom
			transition: opacity .3s
			&:hover
				opacity: .5
			&:before
				display: none
		.slick-prev
			@include sprite($arrow-left)
			margin-right: 14px
			position: relative
			&:after
				position: absolute
				content: ''
				height: 28px
				border-right: 1px dotted
				color: $color-1
				right: -15px
				top: 0
		.slick-next
			@include sprite($arrow-right)
			margin-left: 15px
	&__list
		padding-left: 16px
		padding-right: 16px

	&__item
		font-family: Georgia
		font-size: 15px
		text-align: center
		border: 1px solid #f7d051
		padding-top: 12px
		padding-bottom: 12px
		border-radius: 20px
		margin-left: 16px
		margin-right: 16px
		p
			padding: 10px 5px 0
	&__img
		display: block
		width: 156px
		height: 178px
		line-height: 171px
		border-top: 2px solid #f7d051
		border-bottom: 2px solid #f7d051
		img
			max-width: 156px
			max-height: 175px
			width: 100%
			display: inline-block
			vertical-align: middle






span.color-red
	color: #ae1010
































.services-blur
	height: 386px
	position: relative
	margin-bottom: 31px
	&:after
		content: ''
		position: absolute
		display: block
		background: url('../img/bg/lines/2.png') no-repeat center
		width: 976px
		height: 12px
		margin-left: auto
		margin-right: auto
		bottom: 0
	&__item
		display: block
		position: absolute
		filter: blur(3px)
		transition: .3s
		&:before
			z-index: -2
			opacity: 0
			content: ''
			position: absolute
		&:hover
			filter: blur(0px)
			animation: none !important
			&:before
				z-index: 1
				opacity: 1
	&__item-1
		top: 85px
		left: 19px
		animation: cake1 infinite 3s
		transition-timing-function: ease-out
		&:before
			background: url('../img/bg/text/services-1.png')
			width: 133px
			height: 40px
			top: -22px
			right: 57px
	&__item-2
		top: 179px
		left: (256px + 15px)
		animation: cake2 infinite 2.5s
		transition-timing-function: ease-out
		&:before
			background: url('../img/bg/text/services-2.png')
			width: 128px
			height: 86px
			bottom: 10px
			left: -10px
	&__item-3
		top: 38px
		left: (422px + 15px)
		animation: cake3 infinite 2.2s
		transition-timing-function: ease-out
		&:before
			background: url('../img/bg/text/services-3.png')
			width: 145px
			height: 42px
			bottom: -40px
			left: 13px
	&__item-4
		top: 52px
		right: (25px + 15px)
		animation: cake4 infinite 2.7s
		transition-timing-function: ease-out
		&:before
			background: url('../img/bg/text/services-4.png')
			width: 100px
			height: 49px
			left: 120px
			top: -27px

.services
	text-align: center
	&__item
		display: block
		&:hover
			img
				transform: scale(1.05)
	&__img
		display: block
		margin-bottom: 3px
		line-height: 166px
		img
			position: relative
			display: inline-block
			vertical-align: bottom
			transition: .3s
	&__title
		font-size: 20px

	.row
		position: relative
		&:nth-of-type(1)
			&:after
				background: url('../img/bg/lines/1.png') repeat-x center
				width: 100%
				height: (27px + 5px)
				margin-left: auto
				margin-right: auto

.order-block
	height: 232px
	background: url('../img/bg/order.png')
	text-align: center
	padding-top: 36px
	margin-top: 60px
	.container
		&:before
			position: absolute
			content: ''
			background: url('../img/bg/cap.png')
			width: 139px
			height: 120px
			top: -60px
			left: 15px
	&__title
		margin-bottom: 13px

	&__desc
		font-family: Georgia
		margin-bottom: 30px
	&__elements
		font-size: 0
	.input, .file label
		width: 177px
	.input
		margin-right: 18px
	.file label
		margin-right: 48px
.title
	font-size: 48px

.file
	display: inline-block
	vertical-align: top
	input
		display: none
	label
		position: relative
		font-size: 16px
		font-family: Georgia
		display: block
		padding-top: 11px
		width: 177px
		height: 42.5px
		padding-left: 20px
		box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
		border-radius: 21px
		border: 1px solid #81d8d0
		background-color: #ffffff
		text-align: left
		cursor: pointer
		&:before
			z-index: 2
			content: '+'
			position: absolute
			color: #422d04
			font-family: Georgia
			font-size: 30px
			right: 10px
			top: 0
		&:after
			content: ''
			position: absolute
			background: url('../img/bg/file-bg.png')
			width: 38px
			height: 43px
			top: -1px
			right: -1px

.reasons
	padding-top: 65px
	text-align: center
	&:after
		content: ''
		position: relative
		display: block
		background: url('../img/bg/lines/2.png') no-repeat center
		width: 976px
		height: 12px
		margin-left: auto
		margin-right: auto
		margin-top: 51px
	&__title
		color: #81d8d0
	&__desc
		font-size: 20px
	&__subtitle
		font-size: 20px
		color: #81d8d0
		margin-top: 15px
	&__icon
		padding-top: 50px
	&__subdesc
		font-family: Georgia
		margin-bottom: 6px
		max-width: 300px
		margin-left: auto
		margin-right: auto

.popular
	padding-top: 61px
	&__title
		background: url('../img/bg/text/popular-title.png')
		width: 419px
		height: 115px
		margin-left: auto
		margin-right: auto
		span
			display: none
	&__desc
		background: url('../img/bg/text/popular-desc.png')
		width: 207px
		height: 35px
		margin-left: auto
		margin-right: auto
		margin-top: -50px
		margin-bottom: 25px
		span
			display: none

	&__list
		height: 595px
		position: relative
	&__item
		position: absolute
		display: block
		img
			transition: .3s
		&:hover
			img
				transform: scale(1.1)
		&-1
			top: 0
			left: calc(50% - 156px)
			&:hover
				img
					transform: scale(1)
		&-2
			top: 80px
			left: 75px
		&-3
			top: 295px
			left: 165px

		&-4
			top: 405px
			left: calc(50% - 87.5px)

		&-5
			top: 295px
			right: 165px
		&-6
			top: 80px
			right: 75px

.text
	font-family: Georgia
	line-height: 24px
	text-align: center
	margin-bottom: 40px
	&__title
		font-size: 30px
		font-family: Lobster
		color: #81d8d0
		margin-bottom: 12px
		margin-top: 40px
		line-height: normal
	p
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0


.reviews
	.slick-arrow
		opacity: 1 !important
		// z-index: 1010 !important
		position: relative
		display: block
		left: auto
		right: auto
		top: auto
		margin-left: auto
		margin-right: auto
		&:hover
			@include sprite($arrow-active)
		&:before
			display: none
		&.rotate
			transform: rotate(180deg)
		&.slick-prev
			margin-bottom: 30px
		&.slick-next
			margin-top: 30px
			
	&__title
		text-align: center
		margin-bottom: 8px
	&__desc
		color: #81d8d0
		text-align: center
		margin-bottom: 39px
	&__item
		position: relative
		// padding-top: 30px
		// padding-bottom: 30px
		outline: none
		&:after
			position: relative
			content: ''
			background: url('../img/bg/lines/1.png') repeat-x center
			width: 100%
			height: 5px
			margin: 0 auto 30px
	&__img
		width: 165px
		padding-bottom: 30px
	&__content
		float: right
		width: calc(100% - 185px)
		padding-top: 28px
		padding-bottom: 30px
	&__subtitle
		font-size: 20px
		font-style: italic
	&__text
		font-family: Georgia
		margin-top: 14px
		line-height: 24px
	&__about
		position: absolute
		right: 0
		top: 0
		> div
			display: inline-block
			&:nth-of-type(1)
				&:after
					position: relative
					top: 5px
					content: ''
					display: inline-block
					margin-left: 5px
					margin-right: 2px
					width: 1px
					height: 20px
					background-color: #c276ba

.footer
	padding-top: 42px
	padding-bottom: 30px
	margin-top: 60px
	background: url('../img/bg/footer.png') repeat-x center top
	::placeholder
		color: $color-1
	.row
		> .col
			height: 353px
			background: url('../img/bg/lines/3.png') no-repeat right top
	&__system
		padding-right: 14px
	&__copy
		text-align: center
		font-family: Georgia
		margin-top: 15px
		margin-bottom: 20px
	&__certificates
		font-size: 0
		text-align: center
		.footer__title
			margin-bottom: 12px
		a
			margin-right: 8px
			&:last-of-type
				margin-right: 0
		img
			display: inline-block
	&__nav
		padding-left: 23px
		padding-right: 35px
		li
			display: block
			font-family: Georgia
			text-align: center
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
		a
			display: inline-block
			border-color: $color-1
			&:hover
				border-color: transparent
	&__title
		margin-bottom: 23px
		text-align: center
		font-size: 20px
		margin-top: -5px
		&-big
			font-size: 30px
			text-align: center
			margin-bottom: 26px
			margin-top: -20px
			span
				display: block
				font-size: 35px
	&__contacts
		padding-left: 25px
		padding-right: 50px
		.contacts-block
			margin-top: -5px
		.phone
			margin-bottom: 10px !important
		.button
			width: 100%
			height: 39px
			line-height: 37px
			font-size: 20px

	&__order
		float: right
		background: none !important
		.input
			display: block
			width: 100%
			margin-bottom: 17px
		.button
			margin-top: 3px
			width: 100%
			line-height: 43px
			margin-bottom: 18px

	.dev
		p
			padding-left: 7px
			font-family: Georgia
			margin-bottom: 7px


#go-up
	position: fixed
	display: block
	width: 91px
	height: 91px
	background: linear-gradient(to bottom, #d6f7f9 0%,#83d9d2 100%)
	text-align: center
	border-radius: 12px
	right: 3%
	bottom: 3%
	padding-top: 14px
	cursor: pointer
	&:hover
	p
		margin-top: 2px
		font-family: Georgia