@import "sprite.sass"
@import "grid.sass"
@import "fonts.sass"

$color-1: #422d04
$font-size: 16px
$font-family-1: 'Lobster', sans-serif
$transition-speed: .3s

*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box

body
	font: $font-size $font-family-1
	color: $color-1
	background: white
	box-sizing: border-box
	background: url('../img/bg/body.png'), #FEFAD9

h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		font-size: $font-size
		list-style: none
		display: inline-block



span
	position: relative
	display: inline-block


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: $transition-speed


/* Button */
button, input[type="button"], input[type="reset"]
	background: none
	cursor: pointer


input.input
	font-size: 16px
	font-family: Georgia
	outline: none
	&-default
		height: 43px
		box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
		border: 1px solid #81d8d0
		background-color: #ffffff
		border-radius: 20px
		padding-left: 20px
		padding-right: 20px
::placeholder
	color: #422d04






.button
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center
	&_yellow
		font-size: 20px
		width: 222px
		line-height: 37px
		height: 39px
		background: url('../img/bg/button-yellow.png')
	&_blue
		display: inline-block
		vertical-align: top
		width: 167px
		height: 45px
		font-family: Lobster
		font-size: 18px
		background: url('../img/bg/button-blue.png')






.cart
	top: 100px
	right: 0
	position: absolute
	width: 323px
	height: 279px
	background: url('../img/bg/cart.png')
	font-family: Georgia
	&__count
		position: absolute
		color: white
		top: 35px
		left: 37px
		width: 30px
		text-align: center
	&__sum
		position: absolute
		color: #81d8d0
		top: 35px
		left: 85px
.header	
	padding-top: 36px

.sn
	padding-top: 4px
	a
		transition: none
	li
		margin-right: 10px
		&:last-of-type
			margin-right: 0
	.icon-vk
		&:hover
			@include sprite($vk-active)
	.icon-insta
		&:hover
			@include sprite($insta-active)
	.icon-youtube
		&:hover
			@include sprite($youtube-active)
	&__title
		margin-bottom: 10px
		font-size: 20px
.search-block
	position: relative
	width: 222px
	height: 37px
	box-shadow: inset 2px 3px 1px rgba(66, 45, 4, 0.54)
	border: 1px solid #f4c853
	background-color: #ffffff
	border-radius: 20px
	margin-top: 15px
	&__input
		display: block
		background: none
		padding-left: 23px
		line-height: 35px
		width: 180px
	&__button
		cursor: pointer
		position: absolute
		top: 10px		
		right: 17px

img
	display: block
	margin-left: auto
	margin-right: auto
	max-width: 100%


.header
	padding-top: 36px
	padding-bottom: 40px
	&__logo
		text-align: center
	.contacts-block
		text-align: right
		font-size: 29px
		padding-top: 3px
		.icon
			margin-right: 11px
			position: relative
			top: -4px
		.phone
			&:nth-of-type(1)
				&:after
					content: ''
					display: block
					position: relative
					background: url('../img/bg/lines/1.png')
					width: 201px
					height: 5px
					margin-left: auto
					margin-top: 2px
					margin-bottom: 2px
			&:nth-of-type(2)
				margin-bottom: 10px
		.button
			margin-right: 0

.nav
	ul
		position: relative
		text-align: center
		border-radius: 40px
		height: 81px
		line-height: 79px
		background: #acf0eb
		background: -moz-linear-gradient(top, #acf0eb 2%, #68cdc3 94%, #3fb8ab 94%)
		background: -webkit-linear-gradient(top, #acf0eb 2%,#68cdc3 94%,#3fb8ab 94%)
		background: linear-gradient(to bottom, #acf0eb 2%,#68cdc3 94%,#3fb8ab 94%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acf0eb', endColorstr='#3fb8ab',GradientType=0 )
		&:before
			display: block
			content: ''
			width: 96%
			left: 2%
			height: 1px
			background: #96E5DF
			position: absolute
			bottom: 5px
	li
		font-size: 20px
		&:before
			position: relative
			display: inline-block
			content: ''
			top: 6px
			margin-left: 10px
			margin-right: 10px
			background: url('../img/bg/lines/3.png')
			width: 5px
			height: 25px
		&:first-of-type
			&:before
				display: none
		&.nav__item_select, &:hover
			a
				background: #F7D150
	a
		padding: 7px 28px
		border-radius: 30px

.services-blur
	height: 386px
	position: relative
	margin-bottom: 31px
	&:after
		content: ''
		position: absolute
		display: block
		background: url('../img/bg/lines/2.png') no-repeat center
		width: 976px
		height: 12px
		margin-left: auto
		margin-right: auto
		bottom: 0
	&__item
		display: block
		position: absolute
		filter: blur(3px)
		transition: .3s
		&:before
			z-index: -2
			opacity: 0
			content: ''
			position: absolute
		&:hover
			filter: blur(0px)
			&:before
				z-index: 1
				opacity: 1
	&__item-1
		top: 85px
		left: 19px
		&:before
			background: url('../img/bg/text/services-1.png')
			width: 133px
			height: 40px
			top: -22px
			right: 57px
	&__item-2
		top: 179px
		left: (256px + 15px)
		&:before
			background: url('../img/bg/text/services-2.png')
			width: 128px
			height: 86px
			bottom: 10px
			left: -10px
	&__item-3
		top: 38px
		left: (422px + 15px)
		&:before
			background: url('../img/bg/text/services-3.png')
			width: 145px
			height: 42px
			bottom: -40px
			left: 13px
	&__item-4
		top: 52px
		right: (25px + 15px)
		&:before
			background: url('../img/bg/text/services-4.png')
			width: 100px
			height: 49px
			left: 120px
			top: -27px

.services
	text-align: center
	&__item
		display: block
		&:hover
			img
				transform: scale(1.1)
	&__img
		display: block
		margin-bottom: 3px
		line-height: 166px
		img
			display: inline-block
			vertical-align: bottom
	&__title
		font-size: 20px

	.row
		position: relative
		&:nth-of-type(1)
			&:after
				background: url('../img/bg/lines/1.png') repeat-x center
				width: 100%
				height: (27px + 5px)
				margin-left: auto
				margin-right: auto

.order
	height: 232px
	background: url('../img/bg/order.png')
	text-align: center
	padding-top: 36px
	margin-top: 60px
	.container
		&:before
			position: absolute
			content: ''
			background: url('../img/bg/cap.png')
			width: 139px
			height: 120px
			top: -60px
			left: 15px
	&__title
		margin-bottom: 13px

	&__desc
		font-family: Georgia
		margin-bottom: 30px
	&__elements
		font-size: 0
	.input, .file label
		width: 177px
	.input
		margin-right: 18px
	.file label
		margin-right: 48px
.title
	font-size: 48px

.file
	display: inline-block
	vertical-align: top
	input
		display: none
	label
		position: relative
		font-size: 16px
		font-family: Georgia
		display: block
		padding-top: 10px
		width: 177px
		height: 42.5px
		padding-left: 20px
		box-shadow: inset 1px 2px 1px rgba(66, 45, 4, 0.54)
		border-radius: 21px
		border: 1px solid #81d8d0
		background-color: #ffffff
		text-align: left
		&:before
			z-index: 2
			content: '+'
			position: absolute
			color: #422d04
			font-family: Georgia
			font-size: 30px
			right: 10px
			top: 0
		&:after
			content: ''
			position: absolute
			background: url('../img/bg/file-bg.png')
			width: 38px
			height: 43px
			top: -1px
			right: -1px

.reasons
	padding-top: 65px
	text-align: center
	&:after
		content: ''
		position: relative
		display: block
		background: url('../img/bg/lines/2.png') no-repeat center
		width: 976px
		height: 12px
		margin-left: auto
		margin-right: auto
		margin-top: 51px
	&__title
		color: #81d8d0
	&__desc
		font-size: 20px
	&__subtitle
		font-size: 20px
		color: #81d8d0
		margin-top: 15px
	&__icon
		padding-top: 50px
	&__subdesc
		font-family: Georgia
		margin-bottom: 6px
		max-width: 300px
		margin-left: auto
		margin-right: auto

.popular
	padding-top: 61px
	&__title
		background: url('../img/bg/text/popular-title.png')
		width: 419px
		height: 115px
		margin-left: auto
		margin-right: auto
		span
			display: none
	&__desc
		background: url('../img/bg/text/popular-desc.png')
		width: 207px
		height: 35px
		margin-left: auto
		margin-right: auto
		margin-top: -50px
		margin-bottom: 25px
		span
			display: none

	&__list
		height: 595px
		position: relative
	&__item
		position: absolute
		display: block
		img
			transition: .3s
		&:hover
			img
				transform: scale(1.1)
		&-1
			top: 0
			left: calc(50% - 156px)
			&:hover
				img
					transform: scale(1)
		&-2
			top: 80px
			left: 75px
		&-3
			top: 295px
			left: 165px

		&-4
			top: 405px
			left: calc(50% - 87.5px)

		&-5
			top: 295px
			right: 165px
		&-6
			top: 80px
			right: 75px

.text
	font-family: Georgia
	line-height: 24px
	text-align: center
	margin-bottom: 40px
	&__title
		font-size: 30px
		font-family: Lobster
		color: #81d8d0
		margin-bottom: 15px
		margin-top: 40px
	p
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0


.reviews
	padding-bottom: 40px
	&__title
		text-align: center
		margin-bottom: 8px
	&__desc
		color: #81d8d0
		text-align: center
		margin-bottom: 39px
	&__item
		position: relative
		// padding-top: 30px
		// padding-bottom: 30px
		&:after
			position: relative
			content: ''
			background: url('../img/bg/lines/1.png') repeat-x center
			width: 100%
			height: 5px
			margin: 0 auto 30px
	&__img
		width: 165px
		padding-bottom: 30px
	&__content
		float: right
		width: calc(100% - 185px)
		padding-top: 28px
		padding-bottom: 30px
	&__subtitle
		font-size: 20px
		font-style: italic
	&__text
		font-family: Georgia
		margin-top: 14px
		line-height: 24px
	&__about
		position: absolute
		right: 0
		top: 0
		> div
			display: inline-block
			&:nth-of-type(1)
				&:after
					position: relative
					top: 5px
					content: ''
					display: inline-block
					margin-left: 5px
					margin-right: 2px
					width: 1px
					height: 20px
					background-color: #c276ba
